@light-blue: rgb(232, 251, 255);
@dark-blue: rgb(88, 121, 130);
@near-white: #DDD;

.single-gradient(@dir, @col1, @col2)
{
  background: linear-gradient(@dir, @col1, @col2);
}

.simple-gloss(@dir, @base)
{
  background: linear-gradient(@dir,
    lighten(@base, 25%) 0%,
    lighten(@base, 15%) 50%,
    lighten(@base, 5%) 50%,
    lighten(@base, 0%) 100%,)
}

.double-gloss(@dir, @base)
{
  background: linear-gradient(@dir,
    lighten(@base, 25%) 0%,
    lighten(@base, 15%) 25%,
    lighten(@base, 5%) 25%,
    lighten(@base, 0%) 50%,
    lighten(@base, 25%) 50%,
    lighten(@base, 15%) 75%,
    lighten(@base, 5%) 75%,
    lighten(@base, 0%) 100%,)
}

.grid (@width, @margin: 0)
{
  float: left;
  width: @width;
  margin-left: @margin;
  margin-right: -100%;
  text-align: left;
  overflow-x: hidden;
}

html, body
{
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column;
}

#main
{
  order: 1;
  display: flex;
  flex-flow: row;
  flex: 1;
}

#pixi-container
{
  display: flex;
  position: relative;
  flex-flow: row;
  order: 1;
  flex: 1;

  canvas
  {
    width: 100%;
    height: 100%;

    z-index: 0;
  }
}

#side-menu
{
  order: 2;
  display: flex;
  flex-flow: column;
  flex: 0 0 70px;

  position: relative;
  margin: 10px 0;

  button
  {
    width: 70px;
  }
  input
  {
    width: 64px;
  }

  #action-buttons
  {
    margin-top: 25px;
  }

  #other-buttons
  {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}

#bottom-menu
{
  display: flex;
  order: 2;
  flex: 0 0 25px;
  flex-flow: row;
  align-items: center;
  margin: 0 10px;
  @media(max-width: 700px)
  {
    margin: 0;
  }

  >*
  {
    float: left;
  }
  #player
  {
    display: flex;
    align-items: center;

    min-width: 4em;
  }
  #date
  {
    min-width: 5em;
    margin: 0 10px;
  }
  #speed
  {
    display: flex;
    flex: 1;
    align-items: center;

    label
    {
      margin-right: 10px;
    }
    #speed-control
    {
      padding: 0;
      margin: 0;
      @media(max-width: 600px)
      {
        width: 70px;
      }
    }
  }
  #show-info
  {
    text-decoration: none;
    float: right;
    
    &:hover
    {
      text-decoration: underline;
    }
  }
  
}

// REACT START

#react-container
{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;

  pointer-events: none;

  *
  {
    pointer-events: auto;
  }
}

.popup
{
  position: absolute;
  padding: 5px;

  border: 1px solid @dark-blue;
  background-color: rgba(232, 251, 255, 0.8);

  cursor: move;

  .popup-text
  {
    margin: 7px auto;
  }

  .popup-content
  {
    display: inline-block;
  
    >*
    {
      border: 1px solid @dark-blue;
      cursor: auto;
    }
    th
    {
      margin-bottom: 10px;
      min-width: 40px;
      font-weight: lighter;
    }
    tr
    {
      text-align: center;
    }
    .employee
    {
      color: #000;
    }
    .active:hover
    {
      background-color: lighten(@dark-blue, 25%);
    }
    .active
    {

    }
    .selected
    {
      background-color: @dark-blue;
    }
    .employee-name
    {
      text-align: left;
      color: #000;
    }
    .relevant-col
    {
      border: 1px dashed lighten(@dark-blue, 20%);
    }
    .irrelevant-cell
    {
      color: #888;
    }
    .inactive
    {
      background-color: rgb(185, 200, 204);
      *
      {
        color: #AAA;
      }
    }
    .insufficient
    {
      color: red;
    }

    .cellinfo
    {
      margin-left: 12px;
    }
  }
  .popup-buttons
  {
    display: table;
    margin: 10px auto;
    button
    {
      margin: 0 20px;
    }
  }
}

.building-list
{
  tr
  {

  }
}


// REACT END

// INFO

#info-container
{
  height: 100%;
  width: 100%;
  z-index: 99;
  //display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  align-items: center;
  justify-content: center;

  #info-window
  {
    position: relative;
    background-color: @near-white;
    padding: 25px;

    #close-info
    {
      margin: 7px;
      position: absolute;
      top: 0px;
      right: 0px;
      color: #444;
      text-decoration: none;
    }
    #close-info:hover
    {
      text-decoration: underline;
    }
  }

}