html,
body {
  height: 100%;
}
#main {
  display: flex;
  height: 100%;
}
#pixi-container {
  display: flex;
  flex-flow: row;
  order: 1;
  flex: 2 1 auto;
}
#side-menu {
  display: flex;
  flex-flow: row;
  order: 2;
  width: 70px;
  position: relative;
}
#side-menu button {
  width: 70px;
}
#side-menu input {
  width: 64px;
}
#side-menu #tool-buttons {
  margin-top: 20px;
}
#side-menu #other-buttons {
  position: absolute;
  bottom: 20px;
  left: 0px;
}
