.single-gradient(@dir, @col1, @col2)
{
  background: linear-gradient(@dir, @col1, @col2);
}

.simple-gloss(@dir, @base)
{
  background: linear-gradient(@dir,
    lighten(@base, 25%) 0%,
    lighten(@base, 15%) 50%,
    lighten(@base, 5%) 50%,
    lighten(@base, 0%) 100%,)
}

.double-gloss(@dir, @base)
{
  background: linear-gradient(@dir,
    lighten(@base, 25%) 0%,
    lighten(@base, 15%) 25%,
    lighten(@base, 5%) 25%,
    lighten(@base, 0%) 50%,
    lighten(@base, 25%) 50%,
    lighten(@base, 15%) 75%,
    lighten(@base, 5%) 75%,
    lighten(@base, 0%) 100%,)
}

.grid (@width, @margin: 0)
{
  float: left;
  width: @width;
  margin-left: @margin;
  margin-right: -100%;
  text-align: left;
  overflow-x: hidden;
}



html, body
{
  height: 100%;
  display: flex;
  flex-flow: column;
}

#main
{
  order: 1;
  display: flex;
  flex-flow: row;
  flex: 1;
}

#pixi-container
{
  display: flex;
  position: relative;
  flex-flow: row;
  order: 1;
  flex: 1;

  canvas
  {
    width: 100%;
    height: 100%;

    z-index: 0;
  }
}

#side-menu
{
  order: 2;
  display: flex;
  flex-flow: column;
  flex: 0 0 70px;

  position: relative;
  margin: 20px 0;

  button
  {
    width: 70px;
  }
  input
  {
    width: 64px;
  }

  #other-buttons
  {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}

#bottom-menu
{
  order: 2;
  flex: 0 0 20px;

  display: flex;
  flex-flow: row;

  #player
  {
    margin-right: 50px;
  }
}

// REACT START

#react-stage
{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;

  align-items: center;
  justify-content: center;

  pointer-events: none;

  *
  {
    pointer-events: auto;
  }
}

.popup
{
  position: absolute;
  padding: 5px;

  border: 1px solid rgb(88, 121, 130);
  background-color: rgba(232, 251, 255, 0.8);
  .popup-close
  {
    display: inline-block;
    float: right;
    clear: both;
    top: 0px;
  }
  .popup-content
  {
    display: flex;
    flex-flow: row;
  
    >*
    {
      border: 1px solid rgb(88, 121, 130);
    }
    .cellinfo
    {
      margin-left: 12px;
    }
  }
  .popup-buttons
  {
    display: table;
    margin: 0 auto;
  }
}


// REACT END
