html,
body {
  height: 100%;
  display: flex;
  flex-flow: column;
}
#main {
  order: 1;
  display: flex;
  flex-flow: row;
  flex: 1;
}
#pixi-container {
  display: flex;
  flex-flow: row;
  order: 1;
  flex: 1;
}
#pixi-container canvas {
  width: 100%;
  height: 100%;
}
#side-menu {
  order: 2;
  display: flex;
  flex-flow: column;
  flex: 0 0 70px;
  position: relative;
  margin: 20px 0;
}
#side-menu button {
  width: 70px;
}
#side-menu input {
  width: 64px;
}
#side-menu #other-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#bottom-menu {
  order: 2;
  flex: 0 0 20px;
}
