html,
body {
  height: 100%;
  display: flex;
  flex-flow: column;
}
#main {
  order: 1;
  display: flex;
  flex-flow: row;
  flex: 1;
}
#pixi-container {
  display: flex;
  position: relative;
  flex-flow: row;
  order: 1;
  flex: 1;
}
#pixi-container canvas {
  width: 100%;
  height: 100%;
  z-index: 0;
}
#side-menu {
  order: 2;
  display: flex;
  flex-flow: column;
  flex: 0 0 70px;
  position: relative;
  margin: 20px 0;
}
#side-menu button {
  width: 70px;
}
#side-menu input {
  width: 64px;
}
#side-menu #other-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#bottom-menu {
  order: 2;
  flex: 0 0 20px;
  display: flex;
  flex-flow: row;
}
#bottom-menu #player {
  margin-right: 50px;
}
#bottom-menu #date {
  min-width: 8em;
}
#react-stage {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
#react-stage * {
  pointer-events: auto;
}
.popup {
  position: absolute;
  padding: 5px;
  border: 1px solid #587982;
  background-color: rgba(232, 251, 255, 0.8);
}
.popup .popup-text {
  display: table;
  margin: 7px auto;
}
.popup .popup-content {
  display: flex;
  flex-flow: row;
}
.popup .popup-content > * {
  border: 1px solid #587982;
}
.popup .popup-content th {
  margin-bottom: 10px;
  min-width: 40px;
  font-weight: lighter;
}
.popup .popup-content tr {
  text-align: center;
}
.popup .popup-content .employee {
  color: #000;
}
.popup .popup-content .active:hover {
  background-color: #9db6bd;
}
.popup .popup-content .selected {
  background-color: #587982;
}
.popup .popup-content .employee-name {
  text-align: left;
  color: #000;
}
.popup .popup-content .relevant-col {
  border: 1px dashed #8eaab2;
}
.popup .popup-content .irrelevant-cell {
  color: #888;
}
.popup .popup-content .inactive {
  background-color: #b9c8cc;
}
.popup .popup-content .inactive * {
  color: #AAA;
}
.popup .popup-content .cellinfo {
  margin-left: 12px;
}
.popup .popup-buttons {
  display: table;
  margin: 10px auto;
}
.popup .popup-buttons button {
  margin: 0 20px;
}
