@light-blue: rgb(232, 251, 255);
@dark-blue: rgb(88, 121, 130);
@near-white: #DDD;

@light-button-top: hsv(0, 0, 100%);
@light-button-bot: hsv(0, 0, 91%);

@side-menu-width: 300px;

.single-gradient(@dir, @col1, @col2)
{
  background: linear-gradient(@dir, @col1, @col2);
}

.simple-gloss(@dir, @base)
{
  background: linear-gradient(@dir,
    lighten(@base, 25%) 0%,
    lighten(@base, 15%) 50%,
    lighten(@base, 5%) 50%,
    lighten(@base, 0%) 100%,)
}

.double-gloss(@dir, @base)
{
  background: linear-gradient(@dir,
    lighten(@base, 25%) 0%,
    lighten(@base, 15%) 25%,
    lighten(@base, 5%) 25%,
    lighten(@base, 0%) 50%,
    lighten(@base, 25%) 50%,
    lighten(@base, 15%) 75%,
    lighten(@base, 5%) 75%,
    lighten(@base, 0%) 100%,)
}

.grid-column
{
  display: flex;
  flex-flow: column;
  flex: 1;
}
.grid-row
{
  display: flex;
  flex-flow: row;
  flex: 1;
}
.grid-cell
{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.hidden
{
  display: none;
}

html, body
{
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column;
}

#main
{
  order: 1;
  display: flex;
  flex-flow: row;
  flex: 1;
}

#pixi-container
{
  display: flex;
  position: relative;
  flex-flow: row;
  order: 1;
  flex: 1;

  canvas
  {
    width: 100%;
    height: 100%;

    z-index: 0;
  }
}


#side-menu
{
  order: 2;
  display: flex;
  flex-flow: column;
  flex: 0 0 @side-menu-width;

  position: relative;
  margin: 10px 0;

  button
  {
    width: 70px;
  }
  input
  {
    width: 66px;
  }
  select
  {
    width: 70px;
  }

  .selected-tool
  {
    .single-gradient(
      to top, @light-button-top, @light-button-bot);
    border-style: inset;
    border-color: @light-button-top;
  }


  #action-buttons
  {
    margin-top: 25px;
  }

  #other-buttons
  {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}

#bottom-menu
{
  display: flex;
  order: 2;
  flex: 0 0 25px;
  flex-flow: row;
  align-items: center;
  margin: 0 10px;
  @media(max-width: 700px)
  {
    margin: 0;
  }

  >*
  {
    float: left;
  }
  #player
  {
    display: flex;
    align-items: center;

    min-width: 4em;
  }
  #date
  {
    min-width: 5em;
    margin: 0 10px;
  }
  #speed
  {
    display: flex;
    flex: 1;
    align-items: center;

    label
    {
      margin-right: 10px;
    }
    #speed-control
    {
      padding: 0;
      margin: 0;
      @media(max-width: 600px)
      {
        width: 70px;
      }
    }
  }
  #show-info
  {
    text-decoration: none;
    float: right;
    
    &:hover
    {
      text-decoration: underline;
    }
  }
  
}

// POPUPS START

#react-container
{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;

  pointer-events: none;
}
#react-wrapper
{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
}
#react-popups
{
  display: flex;
  position: relative;
  order: 1;
  flex: 1;

  >*
  {
    pointer-events: auto;
  }
}

.popup
{
  position: absolute;
  padding: 5px;

  border: 1px solid @dark-blue;
  background-color: rgba(232, 251, 255, 0.8);

  cursor: move;

  .popup-text
  {
    margin: 7px auto;
  }

  .popup-content
  {
    display: inline-block;
  
    >*
    {
      border: 1px solid @dark-blue;
      cursor: auto;
    }
    th
    {
      margin-bottom: 10px;
      min-width: 40px;
      font-weight: lighter;
    }
    tr
    {
      text-align: center;
    }
    td
    {
      padding: 0 5px;
    }
    tbody tr:hover
    {
      background-color: lighten(@dark-blue, 25%);
    }
    .employee
    {
      color: #000;
    }
    .active
    {

    }
    .selected
    {
      background-color: @dark-blue;
    }
    .selected:hover
    {
      background-color: @dark-blue;
    }
    .employee-name
    {
      text-align: left;
      color: #000;
    }
    .relevant-col
    {
      border: 1px dashed lighten(@dark-blue, 20%);
    }
    .irrelevant-cell
    {
      color: #888;
    }
    .inactive
    {
      background-color: rgb(185, 200, 204);
      *
      {
        color: #AAA;
      }
    }
    .inactive:hover
    {
      background-color: rgb(185, 200, 204);
    }
    .insufficient
    {
      color: red;
    }

    .cellinfo
    {
      margin-left: 12px;
    }
  }
  .popup-buttons
  {
    display: table;
    margin: 10px auto;
    button
    {
      margin: 0 20px;
    }
  }
}

.scrollable-wrapper
{
  overflow-y: scroll;
  max-height: 400px;
}

.building-list
{
  tr
  {
    // effectively min-height
    height: 30px;
  }
}

.sortable-column:hover
{
  cursor: pointer;
}

// POPUPS END

// SIDE MENU START

#react-side-menu
{
  display: flex;
  flex-flow: column;
  flex: 0 0 @side-menu-width;
  order: 2;
  background-color: white;

  >*
  {
    pointer-events: auto;
  }
}


#side-menu-main-buttons
{
  flex: 0 0 100px;
}

#side-menu-buildings
{
  flex: 1 0;
  overflow-y: scroll;

  div
  {
    flex: 0 0 44px;
  }
}

#side-menu-other-buttons
{
  flex: 0 0 50px;
}

#side-menu-stats
{
  flex: 0 0 40px;
}
#player-level-wrapper
{
  position: relative;
  width: 100%;
  height: 40px;
  flex: 0 0 40px;
  align-items: center;
  justify-content: center;

  >*
  {
    width: 95%;
    height: 30px;
    position: absolute;
  }
  progress
  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
  }
  span
  {
    display: flex;
    margin: 0 10px;
    align-items: center;
    color: white;
  }
}

// SIDE MENU END

// INFO

#info-container
{
  height: 100%;
  width: 100%;
  z-index: 99;
  //display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  align-items: center;
  justify-content: center;

  #info-window
  {
    position: relative;
    background-color: @near-white;
    padding: 25px;

    #close-info
    {
      margin: 7px;
      position: absolute;
      top: 0px;
      right: 0px;
      color: #444;
      text-decoration: none;
    }
    #close-info:hover
    {
      text-decoration: underline;
    }
  }

}